<div class="promo-section" id="download">
    <p class="promo-step">Step</p>
    <h1><%= @contestant.current_step_index %> <small>of</small> <%= @contestant.steps.count %></h1>
    <%= f.hidden_field :has_downloaded, :id => "has_downloaded_field", :value => @contestant.email_has_downloaded? %>
    <h1 id="download-step-header">Download the App</h1>
      <% if @contestant.email_has_downloaded? %>
        <h2>Looks like you've already downloaded the app. You rock!</h2>
        <p>
            <button type="submit" class="enter-contest-button">
                Submit Entry!
            </button>
        </p>
      <% else %>
        <h2>Click the link for your preferred device.<br/>After you download, you'll be entered in to the contest!</h2>
        <a href="http://www.tapfit.co/iphone" target="_blank" class="promo-phone-link promo-phone-left" id="iphone">
            TapFit for iPhone
        </a>
        <a href="http://www.tapfit.co/android" target="_blank" class="promo-phone-link promo-phone-right" id="android">
            TapFit for Android
        </a>
      <% end %>
    <%= image_tag "splash_iphone.png", :class => "promo-iphone" %>
</div>
