<div class="promo-section" id="email">
    <p class="promo-step">Step</p>
    <h1><%= @contestant.current_step_index %> <small>of</small> <%= @contestant.steps.count %></h1>
    <h1>Enter your email</h1>
    <div class="promo-wrapper">
        <h2>We need this so we can send you an email if you win!</h2>
    </div>
    <div class="form-input-container">
      <%= f.text_field :email, placeholder: "Enter Your Email", autocomplete: "off" %>
      <%= f.button "Continue", :type => "submit" %>
    </div>
</div>

<script type="text/javascript">
    $("form").submit(function() {
        mixpanel.track("Contest Email", {
            "Email": $("#contestant_email").val()
        });
    });
</script>
<script type="text/javascript">
    mixpanel.track("Contest -> Email");
</script>
