<div class="promo-section" id="congrats">
    <h1>Thanks, you're in!</h1>
    <h2>We've entered you into the <%= @contest.name %> Contest!</h2>
    <br/>
    <p><a href="/">TapFit Home</a> &nbsp; | &nbsp; <a href="http://www.facebook.com/tapfit">TapFit on Facebook</a> &nbsp; | &nbsp; <a href="http://www.twitter.com/tapfit">TapFit on Twitter</a></p>
    <%= image_tag "fitness-girl.png", :class => "fitness-girl" %>
</div>
