<div class="promo-section" id="congrats">
    <h1>Thanks, you're in!</h1>
    <h2>We've entered you into the <%= @contest.name %> Contest!</h2>
    <%= image_tag "fitness-girl.png", :class => "fitness-girl" %>
</div>
