<div id="banner"><a name="home" class="anchor"></a>
    <div class="wrapper">
        <h1>tapfit</h1>
        <ul id="core-values">
            <li>
                <p>Challenging<br/>workouts</p>
            </li>
            <li>
                <p>Amazing<br/>instructors</p>
            </li>
            <li>
                <p>Unbeatable<br/>prices</p>
            </li>
        </ul>
        <div class="sign-up-button">
            <button>
                Sign Up
            </button>
            <p><a href="#">
                Already a member? Sign in.
            </a></p>
        </div>
    </div>
</div>
