<div id="banner"><a name="home" class="anchor"></a>
    <div class="wrapper">
        <%= image_tag "splash_iphone.png", :class => "iphone" %>
        <h2>A single pass<br/>
            to your city's<br/>
            best workouts</h2>
          <%= link_to(iphone_path, :class => "iphone-download-button", :target => "_blank") do %>
            <div class="cta">
                TapFit for iPhone
            </div>
          <% end %>
          <%= link_to(android_path, :class => "android-download-button", :target => "_blank") do %>
            <div class="cta blue">
                TapFit for Android
            </div>
          <% end %>
    </div>
</div>
