<div id="banner"><a name="home" class="anchor"></a>
    <div class="wrapper">
        <h1>Logo</h1>
        <h2>Your community fitness platform.</h2>
        <h3>TapFit connects you with local instructors for challenging workouts at unbeatable prices.</h3>
        <!--<ul id="core-values">
            <li>
                <p>Challenging<br/>workouts</p>
            </li>
            <li>
                <p>Amazing<br/>instructors</p>
            </li>
            <li>
                <p>Unbeatable<br/>prices</p>
            </li>
        </ul>-->
        <div class="sign-up-button">
            <button>
                Sign Up
            </button>
            <p><a href="#">
                Already a member? Log in.
            </a></p>
        </div>
    </div>
</div>
