<div id="banner"><a name="home" class="anchor"></a>
    <div class="wrapper">
        <%= image_tag "splash_iphone.png", :class => "iphone" %>
        <h2>Find & Book Workouts at over 150 studios across the country</h2>
        <a target="_blank" href="https://itunes.apple.com/us/app/tapfit/id683430709?ls=1&mt=8" class="iphone-download-button">
            <div class="cta">
                TapFit for iPhone
            </div>
        </a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=co.tapfit.android" class="android-download-button">
            <div class="cta blue">
                TapFit for Android
            </div>
        </a>
    </div>
</div>
