<div class="promo-section" id="contest-home"><a name="contest" class="anchor"></a>
    <div class="promo-wrapper">
        <h1><%= @contest.name %></h1>
        <p class="highlighted">Do you live in Chicago? You could win
        <strong>free workouts</strong> for the rest of 2014.</p>
        
        <p>That's right. We're giving away a full year
           of fitness for one lucky winner, as well as
           $200 in other awesome prizes!</p>

        <p>Just click the link below to get started!</p>
        
        <form action="/contests/<%= @contest.slug %>/contestants/new">
        <p>
            <button type="submit" class="enter-contest-button">
                Enter Contest
            </button>
        </p>
        </form>
    </div>
</div>
<script type="text/javascript">
    mixpanel.track("Contest page loaded");
</script>
