<div class="cta"><a name="cta" class="anchor"></a>
    <div class="wrapper">
        <div class="heading">
            <h3>Ready to Get Started?</h3>
            <p>Let's go ahead and<br/>#DROPTHEGYM</p>
        </div>
        <div class="sign-up-button">
            <button>
                Sign Up
            </button>
        </div>
    </div>
</div>
