<div class="features"><a name="features" class="anchor"></a>
    <div class="wrapper">
        <div class="heading">
            <h3>Your Personal Fitness Concierge</h3>
        </div>
        <ul>
            <li class="left">
                <span class="exclusive-access">Ultimate Flexibility</span>
                <h5>Work Out Anywhere</h5>
                <p>Browse through hundreds of nearby studios and book workouts with a single click. Never find yourself tied to a single gym or studio again.</p> 
            </li>
            <li class="right">
                <span class="no-expiration">No Expiration</span>
                <h5>No expiration, no fees</h5>
                <p>Credits are pay-as-you-go, never expire, and are not required to be used in a specific timeframe. Simply use them when you need them!</p>
            </li>
            <li class="left">
                <span>Thousands of Options</span>
                <h5>One app, thousands of options</h5>
                <p>TapFit offers thousands of group fitness classes and gym passes - including yoga, pilates, barre, strength training, boxing, and more.</p>
            </li>
            <li class="right">
                <span class="save-money">Save Money</span>
                <h5>Save Money</h5>
                <p>The more you buy, the more you save! <strong>Save up to 30%</strong> on your fitness when you pre-load money into your account.</p>
            </li>
        </ul>
    </div> <!-- eo .container -->
</div> <!-- eo .features -->
