<div class="features"><a name="features" class="anchor"></a>
    <div class="wrapper">
        <div class="heading">
            <h3>Awesome group workouts at locations throughout the city</h3>
            <div class="sign-up-button">
                <button>
                    Learn More
                </button>
            </div>
        </div>
        <ul>
            <li class="left">
                <span class="exclusive-access">Ultimate Flexibility</span>
                <h5>In Your Neighborhood</h5>
                <p>We've got great workouts throughout the city, including Lincoln Park, River North, Wicker Park, and more.</p>  
            </li>
            <li class="right">
                <span class="no-expiration">No Expiration</span>
                <h5>No expiration, no fees</h5>
                <p>TapFit is pay-as-you-go, and you're not required to go in a specific timeframe. Simply book workouts when you need them!</p>
            </li>
            <li class="left">
                <span>Web & Mobile Booking</span>
                <h5>Web & Mobile Booking</h5>
                <p>Reserve a spot in any of our classes on your desktop, laptop, tablet, or mobile phone. Getting fit has never been so convenient!</p>
            </li>
            <li class="right">
                <span class="save-money">Save Money</span>
                <h5>Save Money</h5>
                <p>The more you buy, the more you save! Workouts start at $12 and go down by $1 every single time you go. You can pay as little as $5 per workout.</p>
            </li>
        </ul>
    </div> <!-- eo .container -->
</div> <!-- eo .features -->
