<div class="instructors"><a name="instructors" class="anchor"></a>
    <div class="wrapper">
        <div class="heading">
            <h3>World-class, certified instructors in yoga, pilates, HIIT, and more</h3> 
            <p>Fun, hand-crafted workouts designed to get you in the best shape of your life</p>
        </div>
        <div>
            <ul class="instructor-boxes">
                <li class="instructor-box">
                </li>
                <li class="instructor-box">
                </li>
                <li class="instructor-box">
                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="sign-up-button">
            <button>
                Sign Up
            </button>
        </div>
    </div>
</div>
