<div class="instructors"><a name="instructors" class="anchor"></a>
    <div class="wrapper">
        <div class="heading">
            <h3>We've vetted all of our workout leaders and they're all certified ass whoopers</h3>
        </div>
        <div class="sign-up-button">
            <button>
                Sign Up
            </button>
        </div>
    </div>
</div>
