<div class="locations"><a name="locations" class="anchor"></a>
    <!-- Category Filter -->
    <div class="wrapper">
        <div class="heading">
            <h3>Partner Fitness Studios</h3>
        </div>

        <!-- Portfolio Items -->
        <p class="city-title">Chicago, Illinois</p>
        <ul class="portfolio group">
            <li>1 on 1 Health Fitness</li>
            <li>All About Dance</li>
            <li>Atlas CrossFit</li>
            <li>At the Core</li>
            <li>Bare Feet Power Yoga</li>
            <li>Barre Bee Fit</li>
            <li>Bezz Training</li>
            <li>Bikram Yoga - Andersonville</li>
            <li>Bikram Yoga - Lincoln Park</li>
            <li>Bikram Yoga - South Loop</li>
            <li>Bikram Yoga - Wicker Park</li>
            <li>Chaturanga Holistic Fitness</li>
            <li>Chicago Dance - River North</li>
            <li>Chicago River North Pilates<li>
            <li>Chi-Town Shakti</li>
            <li>Core Chicago Pilates & Fitness</li>
            <li>Core Evolution</li>
            <li>CrossTown Fitness</li>
            <li>Divsion St. CrossFit</li>
            <li>Eb & Flow Yoga Studio</li>
            <li>Fit Girl Studio</li>
            <li>Flex Pilates Chicago</li>
            <li>Flow Studios - Lincoln Park</li>
            <li>From Temple Pilates</li>
            <li>FunDance Fitness</li>
            <li>Harmoney Mind Body Fitness</li>
            <li>Healing Foundations</li>
            <li>and more...</li>
        </ul>

        <p class="city-title">Cincinnati, Ohio</p>
        <ul class="portfolio group">
            <li>The Breathing Room</li>
            <li>Burdo Studios</li>
            <li>Cincinnati Yoga School</li>
            <li>Clear Wellness</li>
            <li>Core a Movement Studio</li>
            <li>Elemental OM</li>
            <li>The Gym at Carew Towers</li>
            <li>It's Working Out</li>
            <li>Kenwood Hot Yoga</li>
            <li>Modo Yoga - Clifton</li>
            <li>Modo Yoga - Cincinnati</li>
            <li>Moksha Yoga - Clifton</li>
            <li>Move Your Hyde Power Yoga</li>
            <li>The Punch House</li>
            <li>Pure Barre</li>
            <li>Revolution Fitness</li>
            <li>Samara Yoga</li>
            <li>YMCA - Blue Ash</li>
            <li>YMCA - Campbell County</li>
            <li>YMCA - Carl H. Lindner</li>
            <li>YMCA - Central Parkway</li>
            <li>YMCA - Clermont</li>
            <li>YMCA - Clippard</li>
            <li>YMCA - Duck Creek</li>
            <li>YMCA - Gamble-Nippert</li>
            <li>YMCA - M.E. Lyons</li>
            <li>YMCA - Melrose</li>
            <li>YMCA - Powell Crosley</li>
            <li>YMCA - R.C. Durr<li>
            <li>The Yoga Bar</li>
            <li>and more...</li>
            <div class="clear"></div>  
        </ul>
    </div>
</div>
