<div class="cities"><a name="cities" class="anchor"></a>
    <!-- Category Filter -->
    <div class="wrapper">
        <div class="heading">
            <h3>Thousands of workouts. One app.</h3>
            <div class="your-city-container">
                <div class="your-city-header">
                    <h4 class="your-city"><a href="#cities">Cincinnati</a><div class="arrow-down"></div></h4>
                    <div class="clear"></div>
                </div>
                <ul class="city-chooser">
                    <li class="city"><a name="39.1000,-84.5167" id="Cincinnati" href="#">Cincinnati</a></li>
                    <li class="city"><a name="41.8819,-87.6278" id="Chicago" href="#">Chicago</a></li>
                    <li class="city"><a name="37.7833,-122.4167" id="San Francisco" href="#">San Francisco</a></li>
                    <li class="city"><a name="40.6700,-73.9400" id="New York" href="#">New York</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="map-canvas-overlay">
        <a href="http://eepurl.com/Ldhnf" class="interest-button cta">Coming Spring 2014!<br/>Click here to be added to the waitlist</a>
    </div>
    <div id="map-canvas"></div>
</div>
