<div class="mobile-promotion">
    <div class="wrapper">
        <nav>
            <ul class="navigation">
                <a href="#plans"><li>30 Days Left For 50% Off!</li></a>
            </ul>
        </nav>
    </div>
</div>

<div class="tf-bg content-modal tf-ready"></div>
<div class="tf-wrap tf-align-top content-modal" tabindex="-1" style="top: 0px; position:fixed; height:464px;">
    <div class="tf-container tf-inline-holder">
        <div class="tf-content">
            <div class="modal content reserve-form">
                <div class="front">
                    <header>
                        <div class="title-wrap">
                            <h2>Order Now & Save!</h2>
                        </div>
                        <p><strong>Your card will be charged immediately.</strong></p>
                    </header>
                    <button title="close" type="button" class="tf-close" onclick="closeOrderModal()">&times;</button>
                    <form action="/packages/buy"  method="POST" id="braintree-payment-form">
                        <fieldset>
                            <div class="sale-price">
                                Sale ends soon!
                            </div>
                            
                            <div class="row summary group">
                                <input type="hidden" id="quantity" name="package_id" value="" />
                                <div class="original-price">$<del>100</del></div>
                                <div class="multiply">x</div>
                                <div class="quantity">30%<br><span class="small">discount</span></div>
                                <div class="calculate-total">=</div>
                                <div class="total">$70</div>
                            </div>
                            <div class="row payment group">
                                <h3>Payment</h3>
                                <div class="cards-accepted">Visa, MasterCard, AMEX, Discover</div>

                                <input class="inline" type="text" id="card_number" size="20" maxlength="20" placeholder="Credit Card Number" autocomplete="off" data-encrypted-name="number"/>
                                <div id="visa" class="cc-icon"></div>
                                <div id="mastercard" class="cc-icon"></div>
                                <div id="americanexpress" class="cc-icon"></div>
                                <div id="discover" class="cc-icon"></div>

                                <input class="inline" type="text" id="card_month" size="2" maxlength="2" placeholder="MM" autocomplete="off" name="month"/>
                                <input class="inline" type="text" id="card_year" size="4" maxlength="4" placeholder="YYYY" autocomplete="off" name="year"/>
                                <input class="inline" type="text" id="card_cvv" size="4" maxlength="4" autocomplete="off" data-encrypted-name="cvv" placeholder="CVV">
                                <input class="inline" type="text" id="address_zip" size="12" maxlength="12" data-encrypted-name="address_zip" placeholder="Billing Zip Code">
                            </div>

                            <div class="row account group">
                                <h3 class="first">Contact</h3>
                                <input class="inline" name="email" id="email" type="email" placeholder="Your email address">
                            </div>
                            
                            <div class="row account group">
                                <h3 class="first">Gift Instructions</h3>
                                <input class="inline" name="email_gift" id="email_gift" type="email" placeholder="Gift recipient's email (optional)">
                            </div>
                            
                            <button id="order" type="submit" class="button blue light-bg flipper">Purchase Now</button>
                        </fieldset>
                        <p class="secure">Secured with 128-bit encryption</p>
                    </form>
                    <nav>
                        <p>
                            We'll send you an email with instructions<br/>
                            on how to redeem your workout credits
                        </p>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://js.braintreegateway.com/v1/braintree.js"></script>
<script>
    var braintree = Braintree.create("MIIBCgKCAQEArH495ikrZadWQqoixGhKGORr1rU56LY8r0/TVJgacOVfv2i+QRYhN0rT4v8d1qNrBAExIx1Si7dBjzjoTDE/iBoW4d+6CyaSLmFUZ5faZesQqKR7D+gtgiFl4dMcJMQt8qpGPH44cfMKh9VJg8jfoLDZ6yYlgAxL31+cqixGP2/4lx15zJUTFCaD7qaHHkkVsIJnYg03dSIQ94SzhAZzEv1opZUS6Z6S149gE1hkoICN4oB6F+ffm/2nuVBqY18Mzu89eRoSx5yYOaEEUaZ+qYMRM9D66vNDkTOohuDTcEfotLNBIi/uYDbFvDfUlH4NEDi8vZ7IC/fexkpAN52+vwIDAQAB");
    braintree.onSubmitEncryptForm('braintree-payment-form');
</script>
