<div class="mobile-promotion">
    <div class="wrapper">
        <nav>
            <ul class="navigation">
                <a href="#plans"><li>30 Days Left For 50% Off!</li></a>
            </ul>
        </nav>
    </div>
</div>

<div class="tf-bg content-modal tf-ready"></div>
<div class="tf-wrap tf-align-top content-modal" tabindex="-1" style="top: 0px; position:absolute; height:464px;">
    <div class="tf-container tf-inline-holder">
        <div class="tf-content">
            <div class="modal content reserve-form">
                <div class="front">
                    <header>
                        <div class="title-wrap">
                            <h2>Pre-Order for 50% Off!</h2>
                        </div>
                        <p><strong>Your card will be charged immediately.</strong></p>
                    </header>
                    <button title="close" type="button" class="tf-close" onclick="closeOrderModal()">&times;</button>
                    <form action="/api/packages/buy"  method="POST" id="braintree-payment-form">
                        <fieldset>
                            <div class="row order group">
                                <h3>Pre-Load Amount</h3>
                                <div class="quantity-wrap">
                                    <div class="fancy-select">
                                        <select id="quantity" name="package_id" height="30px">
                                            <% @packages.each do |package| %>
                                                <option value="<%= package.id %>">$<%= package.fit_coins %></option>
                                            <% end %>
                                        </select>
                                    </div>
                                </div>
                                <div class="sale-price">Limited quantity!</div>
                            </div>
                            <div class="row payment group">
                                <h3>Payment</h3>
                                <div class="cards-accepted">Visa, MasterCard, AMEX, Discover</div>

                                <input class="inline" type="text" id="card_number" size="20" maxlength="20" placeholder="Credit Card Number" autocomplete="off" data-encrypted-name="number"/>
                                <div id="visa" class="cc-icon"></div>
                                <div id="mastercard" class="cc-icon"></div>
                                <div id="americanexpress" class="cc-icon"></div>
                                <div id="discover" class="cc-icon"></div>

                                <input class="inline" type="text" id="card_month" size="2" maxlength="2" placeholder="MM" autocomplete="off" name="month"/>
                                <input class="inline" type="text" id="card_year" size="4" maxlength="4" placeholder="YYYY" autocomplete="off" name="year"/>
                                <input class="inline" type="text" id="card_cvv" size="4" maxlength="4" autocomplete="off" data-encrypted-name="cvv" placeholder="CVV">
                                <input class="inline" type="text" id="address_zip" size="12" maxlength="12" data-encrypted-name="address_zip" placeholder="Billing Zip Code">
                            </div>

                            <div class="row account group">
                                <h3 class="first">Contact</h3>
                                <input class="inline" name="email" id="email" type="email" placeholder="Email address">
                            </div>

                            <div class="row summary group">
                                <div class="original-price">$<del>100</del></div>
                                <div class="multiply">x</div>
                                <div class="quantity">50%<br><span class="small">discount</span></div>
                                <div class="calculate-total">=</div>
                                <div class="total">$50</div>
                            </div>
                            
                            <button id="order" type="submit" class="button blue light-bg flipper">Pre-Order Now</button>
                        </fieldset>
                        <p class="secure">Secured with 128-bit encryption</p>
                    </form>
                    <nav>
                        <p>
                            Available in Cincinnati January 2014<br/>
                            and other cities by Spring 2014
                        </p>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#quantity").change(function() {
        var quantity = $("#quantity").val();
        if (quantity == 2) {
            $(".original-price").html("$<del>250</del>");
            $(".total").html("$125");
        }
        else if (quantity == 3) {
            $(".original-price").html("$<del>500</del>");
            $(".total").html("$250");
        }
        else {
            $(".original-price").html("$<del>100</del>");
            $(".total").html("$50");
        }
    });
</script>

<script src="https://js.braintreegateway.com/v1/braintree.js"></script>
<script>
    var braintree = Braintree.create("MIIBCgKCAQEArH495ikrZadWQqoixGhKGORr1rU56LY8r0/TVJgacOVfv2i+QRYhN0rT4v8d1qNrBAExIx1Si7dBjzjoTDE/iBoW4d+6CyaSLmFUZ5faZesQqKR7D+gtgiFl4dMcJMQt8qpGPH44cfMKh9VJg8jfoLDZ6yYlgAxL31+cqixGP2/4lx15zJUTFCaD7qaHHkkVsIJnYg03dSIQ94SzhAZzEv1opZUS6Z6S149gE1hkoICN4oB6F+ffm/2nuVBqY18Mzu89eRoSx5yYOaEEUaZ+qYMRM9D66vNDkTOohuDTcEfotLNBIi/uYDbFvDfUlH4NEDi8vZ7IC/fexkpAN52+vwIDAQAB");
    braintree.onSubmitEncryptForm('braintree-payment-form');
</script>
