<header id="top">
<div class="top-nav">
    <div class="wrapper">
        <nav>
            <ul class="navigation">
                <li><a href="#plans" onclick="_gaq.push(['_trackEvent', 'Promo Banner', 'clicked']);">30 Days Left For Holiday Discount!</a></li>
                <li><a href="#plans" class="promotion-img" onclick="_gaq.push(['_trackEvent', 'Banner Gift', 'clicked']);"></a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="wrapper">
<h1 class="logo"><a href="/#home">tap<strong>fit</strong></a></h1>
<nav>
<ul id="navigation">
    <li><a href="#about" class="sticky_links" id="link_about">About</a></li>
    <li><a href="#features" class="sticky_links" id="link_features">Benefits</a></li>
    <li><a href="#plans" class="sticky_links" id="link_plans">Plans</a></li>
    <li><a href="#cities" class="sticky_links" id="link_cities">Cities</a></li>
    <li><a href="#locations" class="sticky_links" id="link_locations">Studios</a></li>
    <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
</ul>
</nav>
</div>
</header>
