<% if user_signed_in? %>
<% elsif request.path == "/credits" %>
    <header id="top">
    <!--<div class="promotion"><a href="/plans">30 days left to get the 30% pre-order discount!</a></div>-->
    <div class="top-nav">
        <div class="wrapper">
            <nav>
                <ul class="navigation">
                    <li><a href="/#plans">30 Days Left For 50% Discount!</a></li>
                    <li><a onclick="displayOrderModal()" class="promotion-img"></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="wrapper">
    <h1 class="logo"><a href="/#home">tap<strong>fit</strong></a></h1>
    <nav>
    <ul id="navigation">
        <li><a href="/#about" class="sticky_links" id="link_about">About</a></li>
        <li><a href="/#features" class="sticky_links" id="link_features">Benefits</a></li>
        <li><a href="/#plans" class="sticky_links" id="link_plans">Plans</a></li>
        <li><a href="/#cities" class="sticky_links" id="link_cities">Cities</a></li>
        <li><a href="/#locations" class="sticky_links" id="link_locations">Studios</a></li>
    </ul>
    </nav>
    </div>
    </header>
<% else %>
    <header id="top">
    <!--<div class="promotion"><a href="/plans">30 days left to get the 30% pre-order discount!</a></div>-->
    <div class="top-nav">
        <div class="wrapper">
            <nav>
                <ul class="navigation">
                    <li><a href="#plans">30 Days Left For 50% Discount!</a></li>
                    <li><a onclick="displayOrderModal()" class="promotion-img"></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="wrapper">
    <h1 class="logo"><a href="#home">tap<strong>fit</strong></a></h1>
    <nav>
    <ul id="navigation">
        <li><a href="#about" class="sticky_links" id="link_about">About</a></li>
        <li><a href="#features" class="sticky_links" id="link_features">Benefits</a></li>
        <li><a href="#plans" class="sticky_links" id="link_plans">Plans</a></li>
        <li><a href="#cities" class="sticky_links" id="link_cities">Cities</a></li>
        <li><a href="#locations" class="sticky_links" id="link_locations">Studios</a></li>
    </ul>
    </nav>
    </div>
    </header>
<% end %>
