<header id="top">

<div class="wrapper">
<h1 class="logo"><a href="/#home">tap<strong>fit</strong></a></h1>
<nav>
<ul id="navigation">
    <li><a href="/instructor" class="sticky_links" id="link_instructor">Become an Instructor</a></li>
    <li><a href="/login" class="sticky_links" id="link_login">Log in</a></li>
    <li><a href="/signup" class="sticky_links" id="link_signup">Sign up</a></li>
    <!--<li><a href="#locations" class="sticky_links" id="link_locations">Studios</a></li>-->
</ul>
</nav>
</div>
</header>
