<header id="top">

<div class="top-nav">
<div class="wrapper">
<nav>
<ul class="navigation">
<li><a href="/#contest">Want to win free fitnes for 2014?</a></li>
</ul>
</nav>
</div>
</div>

<div class="wrapper">
<h1 class="logo"><a href="/#home">tap<strong>fit</strong></a></h1>
<nav>
<ul id="navigation">
    <li><a href="/#features" class="sticky_links" id="link_about">About</a></li>
    <li><a href="/#about" class="sticky_links" id="link_features">How it Works</a></li>
    <li><a href="/#cities" class="sticky_links" id="link_cities">Cities</a></li>
    <li><a href="/#plans" class="sticky_links" id="link_plans">Plans</a></li>
    <li><a href="http://blog.tapfit.co" target="_blank" class="" id="link_blog">Blog</a></li>
    <!--<li><a href="#locations" class="sticky_links" id="link_locations">Studios</a></li>-->
</ul>
</nav>
</div>
</header>
