<div class="pricing"><a name="pricing" class="anchor"></a>
    <div class="wrapper">
        <div class="heading">
            <h3>The more you burn, the more you earn</h3>
            <div class="divider"></div>
            <p>Give TapFit a try for $15. And when you become a regular, you'll be paying just $5 per workout!</p>
        </div>
        <div id="pricing-columns">
            <div class="column">
                <p class="column-label">
                    1
                </p>
            </div>
            <div class="column">
                <p class="column-label">
                    2
                </p>
            </div>
            <div class="column">
                <p class="column-label">
                    3+
                </p>
            </div>
        </div> 
        <div class="sign-up-button">
            <button>
                How Much Will I Pay?
            </button>
        </div>
    </div>
</div>
