<div class="pricing"><a name="pricing" class="anchor"></a>
    <div class="wrapper">
        <div class="heading">
            <h3>Our pricing is simple. The more you show up, the less you pay per workout.</h3>
        </div>
        <div id="pricing-columns">
            <div class="column">
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
        </div> 
        <div class="sign-up-button">
            <button>
                How Much Will I Pay?
            </button>
        </div>
    </div>
</div>
