
<div class="process"><a name="about" class="anchor"></a>
    <div class="wrapper">
        <h3>Take control of your fitness</h3>
            <ul>
                <li class="pass">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">1</span>
                    <h4>Get The App</h4>
                    <p>Get started by downloading our free mobile app, available for either <a href="https://itunes.apple.com/us/app/tapfit/id683430709?mt=8" target="_blank" class="iphone-download-button">iPhone</a> or <a href="https://play.google.com/store/apps/details?id=co.tapfit.android" target="_blank" class="android-download-button">Android</a>.</p>              
                </li>
                <li class="even ruler">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">2</span>
                    <h4>Pre-Load Credits</h4>
                    <p>Load your TapFit account with money that you can use at any of our partner gyms and studios.</p> 
                </li>
                <li class="plane">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">3</span>
                    <h4>Book Workouts</h4>
                    <p>Once you find a workout you want to join, simply book it and go! TapFit will take care of the rest.</p>                
</li>
                <li class="even last glass">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">4</span>
                    <h4>Earn Rewards</h4>
                    <p>The more you work out, the more we reward you for staying fit. Earn points towards free workouts!</p>
                </li>
            </ul>
    </div>
</div>
