<div class="testimonials"><a class="anchor" name="testimonials"></a>
    <div class="wrapper">
        <div class="heading">
            <h3>Don't believe us?<br/>Hear it from our customers!</h3>
        </div>
        <ul>
            <li>
                <%= image_tag "samp.png" %>
                <h3>Sam P.</h3>
                <p class="job-role">Loves Boxing</p>
                <p>"TapFit has been great so far. I've been able to work out at three different gyms without needing a membership and I've met some new friends, too."</p>
            </li>
            <li>
                <%= image_tag "marissa.png" %>
                <h3>Marissa H.</h3>
                <p class="job-role">Dedicated Yogi</p>
                <p>"I love the convenience of being able to book classes from my phone. Anything I want to do, right in the palm of my hand. It's really easy to use."</p>
            </li>
            <li>
                <%= image_tag "mb.png" %>
                <h3>Sara W.</h3>
                <p class="job-role">Workout Sampler</p>
                <p>"TapFit has saved me so much money - I used to have two different memberships and now I only need one, and I only pay for classes I actually go to."</p>
            </li><div class="clear"></div>
        </ul>
    </div>
</div>
