<div class="workouts"><a name="workouts" class="anchor"></a>
    <div class="wrapper">
        <div class="heading">
            <h3>Our workouts are tailored to people of all ages, shapes, sizes and fitness levels</h3>
        </div>
    </div>
</div>
