<div class="iphone_container">
<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
<div class="testimonials"><a name="testimonials"></a>
<div class="wrapper">
<ul>
<li>
<%= image_tag "team-1.png" %>
<h3>Rachel Roberts</h3>
<p class="job-role">The Yoga Bar</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor integrer turpis.</p>
<p>Phasellus erat arcu, ullamcorper sit amet nunc nec, tempor dignissim dui.</p>
</li>
<li>
<%= image_tag "team-2.png" %>
<h3>Cydney Rabe</h3>
<p class="job-role">Core A Movement Studio</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor integrer turpis.</p>
<p>Phasellus erat arcu, ullamcorper sit amet nunc nec, tempor dignissim dui.</p>
</li>
<li>
<%= image_tag "team-3.png" %>
<h3>Jim Riggs</h3>
<p class="job-role">Carew Towers</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor integrer turpis.</p>
<p>Phasellus erat arcu, ullamcorper sit amet nunc nec, tempor dignissim dui.</p>
</li><div class="clear"></div>
</ul>
</div>
</div>
</div>
