<h3>TapFit Corporate Programs</h3>

<div class="blurb">
<div class="wrapper">
<h4>TapFit offers a range of corporate programs including corporate perks, health and wellness campaigns, and fully customizable corporate wellness plans. With a TapFit partnership, your organization is on its way to having healthier, more productive employees!</h4>
</div>
</div>

<div class="testimonials"><a name="testimonials"></a>
<div class="wrapper">
<ul>
<li>
<%= image_tag "gym-1.png" %>
<h3>Corporate<br/>Perks</h3>
<p>Reward your employees for a job well done by giving them the gift of health and fitness.</p>
</li>
<li>
<%= image_tag "gym-2.png" %>
<h3>Health<br/>Campaigns</h3>
<p>Small, one-off campaigns designed to inspire healthy habits in the workplace.</p>
</li>
<li>
<%= image_tag "gym-3.png" %>
<h3>Corporate<br/>Wellness</h3>
<p>You have a business to run. Let TapFit handle your corporate wellness program.</p>
</li><div class="clear"></div>
</ul>
</div>
</div>
</div>
