<div class="faqs">
    <div class="wrapper-narrow">
        <div class="heading">
            <h3>About TapFit FitCoins</h3>
            <p>FitCoins are a virtual currency for purchasing workouts and earning rewards.</p>
        </div>

        <section class="faq_fitcoins">
            <p class="question">What are FitCoins?</p>
            <p class="answer">FitCoins are digital currency that let you work out at ANY of our partner facilities. Use FitCoins for any Yoga, Boxing, Crossfit, Pilates, Hot Yoga, Spin Class or traditional gym pass... We got ya covered.</p>

            <p class="question">What is the dollar value of a FitCoin?</p>
            <p>The dollar value of a single FitCoin is $1.00. However, FitCoins enable us to give you discounts when you buy in bulk. For example, if you buy 100 FitCoins, each FitCoin is only $0.90. And if you buy 500 FitCoins, each FitCoin is only $0.70.</p>

            <p class="question">Why FitCoins?</p>
            <p class="answer">Fitness is priced differently depending on what activity and location you want to go to.  We believe the healthiest person does a variety of different exercises each week.</p>
            <p>With that in mind, we wanted to provide the same deep discounts that individual studios offer when you buy in bulk, and the best way to do that was to offer a new way to purchase your fitness.</p>
            <p>We also want a great way to reward you for working out, inviting your friends and continuing to use TapFit as your premiere fitness concierge.  Share, check-in at workouts, and watch the rewards roll-in.</p>

            <p class="question">What can I get with my FitCoins?</p>
            <p>The cost of each workout is clearly marked within the app. The number of FitCoins per workout varies based on the type of activity. For example, a drop-in pass to a gym might cost 8 FitCoins, whereas the most expensive Pilates class can cost upwards of 20 FitCoins.</p>
            <p>As a general rule of thumb, the cost of a class in FitCoins will very closely mirror the actual cost in dollars.</p>
            <p>Costs are calculated every day based on the drop-in price of the workout. We typically only show classes that offer a discount over the standard drop-in price.</p>
            <p>Also, at certain times we may run promotions within the app where services will be discounted, so you have the opportunity to find awesome deals on our classes!</p>
        </section>
    </div>
</div>
