<div class="faqs">
    <div class="fitcoins"><a name="fitcoins" class="anchor"></a>
        <div class="wrapper-narrow">
            <div class="heading">
                <h3>What Are FitCoins?</h3>
                <p>FitCoins are a virtual currency for purchasing workouts and earning rewards.</p>
            </div>
            <section class="left">
                <div class="image-wrap">
                    <%= image_tag "fitcoins_worth.png", :width => 250, :height => 250 %>
                </div>
                <div class="text-wrap">
                    <h3>Enjoy your favorite workouts for less</h3>
                    <p>TapFit FitCoins allow you to work out at any of your favorite gyms and studios with one easy way to pay. Use FitCoins for any yoga, pilates, barre, boxing, dance, gym, or CrossFit class in our network.</p>
                    <p>A FitCoin is worth $1, and our classes range from 5 FitCoins to 25 FitCoins depending on the activity. For example, a standard free weights session might be 5 FitCoins, while a premium barre class might be 25 FitCoins.</p>
                    <p>Prices vary daily based on class schedules, availability, and any relevant promotions. Be on the lookout for great discounts in the app!</p>
                </div>
            </section>
            <section class="right">
                <div class="image-wrap">
                    <%= image_tag "fitcoins_save.png", :width => 250, :height => 250 %>
                </div>
                <div class="text-wrap">
                    <h3>The more you buy, the more you save</h3>
                    <p>FitCoins allow us to give you steep discounts when you buy in bulk. TapFit users can save up to 30% on their fitness when they buy FitCoin bundles. And since FitCoins never expire and can be redeemed at any time, you don't have to worry about them ever going to waste.</p>
                    <p>We believe this is a huge improvement over traditional class packs at individual studios, which can only be redeemed at a single location and typically expire after a few months. With FitCoins, you have the luxury of working out whenever and wherever you want.</p>
                </div>
            </section>
            <section class="left">
                <div class="image-wrap">
                    <%= image_tag "fitcoins_rewards.png", :width => 250, :height => 250 %>
                </div>
                <div class="text-wrap">
                    <h3>Get rewarded by staying fit and inviting friends</h3>
                    <p>Every time you purchase a workout in the app you have the opportunity to earn additional FitCoins. The more you work out, the faster you'll rack up points towards free workouts!</p>
                    <p>FitCoins are also a great social currency - you earn when you share with friends or get them to attend a workout with you. We want to reward you for being fit and for inspiring others to do the same.</p>
                </div>
            </section>
        </div>
    </div>
</div>
