<div class="promotion"><a href="/plans">30 days left to get the 30% pre-order discount!</a></div>
<div class="sectionHeader">
<div class="wrapper">
<h4>How Do Credits Work?</h4>
</div>
</div>

<div class="testimonials"><a name="testimonials"></a>
<div class="wrapper">
<ul>
<li>
<%= image_tag "credits-1.png" %>
<h3>10 credits</h3>
<p class="job-role">$9 / credit</p>
<p>&bull; 10 gym workouts<span>, or</span></p>
<p>&bull; 5 yoga classes<span>, or</span></p>
<p>&bull; 3 pilates classes</p>
<p>The 10 credits is a perfect introductory plan or for someone who already has a gym membership and just wants to mix it up with some new workouts.</p>
</li>
<li>
<%= image_tag "credits-2.png" %>
<h3>25 credits</h3>
<p class="job-role">$8 / credit</p>
<p>&bull; 25 gym workouts<span>, or</span></p>
<p>&bull; 12 yoga classes<span>, or</span></p>
<p>&bull; 8 pilates classes</p>
<p>The 25 credits is a great way to get a bunch of workouts at an awesome price. Perfect for the gym rat or a couple of group fitness classes each week.</p>
</li>
<li>
<%= image_tag "credits-3.png" %>
<h3>50 credits</h3>
<p class="job-role">$7 / credit</p>
<p>&bull; 50 gym workouts<span>, or</span></p>
<p>&bull; 25 yoga classes<span>, or</span></p>
<p>&bull; 16 pilates classes</p>
<p>For the fitness freak who gets at it every day, the 50 credits is our best per-credit value. Perfect for someone who likes to do a lot of different activities.</p>
</li><div class="clear"></div>
</ul>
</div>
</div>
</div>
