<div class="promotion"><a href="/plans">30 days left to get the 30% pre-order discount!</a></div>
<div class="sectionHeader">
<div class="wrapper">
<h4>How Do FitCoins Work?</h4>
</div>
</div>

<div class="blurb">
<div class="wrapper">
<h4>FitCoins are used like cash in the TapFit app. Workouts cost between 1 and 3 FitCoins depending on the type of class. Below are some examples for each price point.</h4>
</div>
</div>

<div class="testimonials"><a name="testimonials"></a>
<div class="wrapper">
<ul>
<li>
<%= image_tag "credits-1.png" %>
<h3>1 FitCoin</h3>
<p class="job-role">Basic Workouts</p>
<p>Gym Pass</p>
<p>Introductory Yoga</p>
<p>Boot Camp</p>
</li>
<li>
<%= image_tag "credits-2.png" %>
<h3>2 FitCoins</h3>
<p class="job-role">Group Workouts</p>
<p>Yoga</p>
<p>Dance</p>
<p>Boxing</p>
</li>
<li>
<%= image_tag "credits-3.png" %>
<h3>3 FitCoins</h3>
<p class="job-role">Premium Workouts</p>
<p>Pilates</p>
<p>Barre Method</p>
<p>Private Instruction</p>
</li><div class="clear"></div>
</ul>
</div>
</div>
</div>
