<div id="tapfit_splash">
    <div id="header">
    </div>
    <div class="splash_container" id="top">
        <div class="centerizer">
            <%= image_tag "splash_iphone.png", :class => "splash_phone" %>
            <div id="top_content">
              <%= image_tag "logo_horizontal.png", :class => "splash_logo" %>
              <p id="top_content_tagline">
                <%= image_tag "tagline.png" %>
                <br/><br/><br/>
                <span class="tagline_text">
                    Gyms give us their unsold classes. We show you the day's best values. You book workouts easily from your smartphone.
                </span>
              </p>
              <a href="https://itunes.apple.com/us/app/tapfit/id683430709?ls=1&mt=8" id="top_content_apple" target="_blank"></a>
              <a href="https://play.google.com/store/apps/details?id=co.tapfit.android" id="top_content_android" target="_blank"></a>
            </div>
        </div>
    </div>
    <div class="splash_container" id="benefits_link">
        <div class="centerizer">
        <a href="#benefits" class="link_to_benefits">Book last minute workouts, today.</a>
        </div>
    </div>
    <div class="splash_container" id="benefits">
        <div class="centerizer">
        <%= image_tag "benefits_ss_1.png", :class => "benefits_ss" %>
        <div id="benefits_content">
            <p>TapFit is fitness on your own terms. Browse through hundreds of expertly-curated gyms and studios, view upcoming class schedules, and book classes - all through the convenience of your mobile phone.</p>
            <a class="link_to_what"><h1 style="color:#ffffff;cursor:pointer;">&darr;</h1></a>
        </div>
        </div>
    </div>
    <div id="footer">
        <p>&copy; 2013 TAPFIT, LLC &nbsp; &bull; &nbsp; <a href="http://blog.tapfit.co">Read Our Blog</a></p>
    </div>
</div>
