<div class="promotion"><a href="/plans">30 days left to get the 30% pre-order discount!</a></div>

<div class="plans" id="packages"><a name="plans"></a>
<div class="wrapper">

<div class="sectionHeader">
<div class="wrapper">
<h4>TapFit Membership Packages</h4>
</div>
</div>

<div class="blurb">
<div class="wrapper">
<h4>TapFit memberships are similar to buying a multi-pack of classes at a single studio. Instead of buying classes, you buy FitCoins, which can be redeemed at any studio in our network. The more FitCoins you buy, the bigger discount you receive!</h4>
</div>
</div>

<section id="pricePlans">
<ul id="plans">

<li class="plan">
<ul class="planContainer">
<li class="title"><h2>10 FitCoins</h2></li>
<li class="price"><p>$56 <span style="text-decoration:line-through">$80</span></p></li>
<li>
<ul class="options">
<li>10 <span>FitCoins</span></li>
<li>$8 / FitCoin</li>
<li>Free <span>mobile booking</span></li>
<li>24/7 <span>customer support</span></li>
<li><a href="/credits">What can I do with 10 FitCoins?</a></li>
</ul>
</li>
<li class="button"><a href="#">Pre-Order</a></li>
</ul>
</li>

<li class="plan">
<ul class="planContainer">
<li class="title"><h2>25 FitCoins</h2></li>
<li class="price"><p>$122 <span style="text-decoration:line-through">$175</span></p></li>
<li>
<ul class="options">
<li>25 <span>FitCoins</span></li>
<li>$7 / FitCoin <span> (save 12.5%)</span></li>
<li>Free <span>mobile booking</span></li>
<li>24/7 <span>customer support</span></li>
<li><a href="/credits">What can I do with 25 FitCoins?</a></li>
</ul>
</li>
<li class="button"><a href="#">Pre-Order</a></li>
</ul>
</li>

<li class="plan">
<ul class="planContainer">
<li class="title"><h2>50 FitCoins</h2></li>
<li class="price"><p>$210 <span style="text-decoration:line-through">$300</span></p></li>
<li>
<ul class="options">
<li>50 <span>FitCoins</span></li>
<li>$6 / FitCoin <span> (save 25%)</span></li>
<li>Free <span>mobile booking</span></li>
<li>24/7 <span>customer support</span></li>
<li><a href="/credits">What can I do with 50 FitCoins?</a></li>
</ul>
</li>
<li class="button"><a href="#">Pre-Order</a></li>
</ul>
</li>
</ul> <!-- End ul#plans -->
</section>
</div>
</div>
