<div class="promotion"><a href="/plans">30 days left to get the 30% pre-order discount!</a></div>

<div class="plans" id="packages"><a name="plans"></a>
<div class="wrapper">

<div class="sectionHeader">
<div class="wrapper">
<h4>TapFit Membership Packages</h4>
</div>
</div>

<section id="pricePlans">
<ul id="plans">

<li class="plan">
<ul class="planContainer">
<li class="title"><h2>10-pack</h2></li>
<li class="price"><p>$63 <span style="text-decoration:line-through">$90</span></p></li>
<li>
<ul class="options">
<li>10 <span>credits</span></li>
<li>Free <span>mobile booking</span></li>
<li>24/7 <span>customer support</span></li>
<li><a href="/credits">What can I do with 10 credits?</a></li>
</ul>
</li>
<li class="button"><a href="#">Purchase</a></li>
</ul>
</li>

<li class="plan">
<ul class="planContainer">
<li class="title"><h2>25-pack</h2></li>
<li class="price"><p>$140 <span style="text-decoration:line-through">$200</span></p></li>
<li>
<ul class="options">
<li>25 <span>credits</span></li>
<li>Free <span>mobile booking</span></li>
<li>24/7 <span>customer support</span></li>
<li><a href="/credits">What can I do with 25 credits?</a></li>
</ul>
</li>
<li class="button"><a href="#">Purchase</a></li>
</ul>
</li>

<li class="plan">
<ul class="planContainer">
<li class="title"><h2>50-pack</h2></li>
<li class="price"><p>$245 <span style="text-decoration:line-through">$350</span></p></li>
<li>
<ul class="options">
<li>50 <span>credits</span></li>
<li>Free <span>mobile booking</span></li>
<li>24/7 <span>customer support</span></li>
<li><a href="/credits">What can I do with 50 credits?</a></li>
</ul>
</li>
<li class="button"><a href="#">Purchase</a></li>
</ul>
</li>
</ul> <!-- End ul#plans -->
</section>
</div>
</div>

<div class="blurb">
<div class="wrapper">
<h4>Credits are used like cash in the TapFit app. Workouts cost between 1 and 3 credits depending on the type of class. For example, the 25-pack will get you approximately 25 gym visits, 12 yoga classes, or 8 pilates classes.</h4>
</div>
</div>
