
<p><br />
<br />
</p>

<p><b>Privacy Policy</b></p>

<p>Last modified: August 23, 2013</p>

<div align="left">
<p><a name="main"></a> <b>Introduction</b></p>

<p>TAPFIT, LLC (“<b>Company</b>”,“<b>we</b>”, “<b>us</b>”, or “<b>our</b>”) respect your privacy and are committed to protecting it through our compliance with this policy.</p>

<p>This policy (together with our terms of use (<a href="http://www.tapfit.co/terms">terms</a>) and any other documents referred to in it) describes the personal information that we collect from you, or that you provide on through our Mobile Application, website <a href="http://www.tapfit.co">www.tapfit.co</a>, external widgets, and corresponding Application Programming Interfaces (API) (our “<b>Mobile Application</b>”) and how that information may be used or disclosed by us.</p>

<p>This policy does not apply to information collected on any third-party application or by any third-party site that may link to or be accessible from the Mobile Application.</p>

<p>Please read the following carefully to understand our policies and practices regarding your personal information and how we will treat it. By using or accessing our Mobile Application, you agree to this privacy policy. This policy may change from time to time and your continued use of the Mobile Application is deemed to be acceptance of such changes, so please check the policy periodically for updates.</p>

<p><b>Children Under the Age of 13</b></p>

<p>Our Mobile Application is not intended for children under 13 years of age. No one under age 13 may provide any personal information to [or on] the Mobile Application. We do not knowingly collect personal information from children under 13. If you are under 13, please do not register on the Mobile Application, make any purchases through the Mobile Application or send any information about yourself to us, including your name, address, telephone number or e-mail address. In the event that we learn that we have collected personal information from a child under age 13 without verification of parental consent, we will delete that information. If you believe that we might have any information from or about a child under 13, please contact us at support@tapfit.co.</p>

<p><b>Information We Collect About You</b></p>

<p>We collect several types of information from and about users of our Mobile Application, including:</p>

<p>Information you provide to us.</p>

<p>Information we collect as you navigate through the Mobile Application, including usage details, IP addresses, cookies, and web beacons.</p>

<p>Information we receive from third parties, for example, Facebook, Twitter, and our business affiliates.</p>

<p><b>Information You Provide to Us</b></p>

<p>We may collect and use the following information that you provide to us:</p>

<p>Information that you provide by filling in forms on our Mobile Application. This includes information provided at the time of registering to use our Mobile Application, subscribing to our service, posting material or requesting further services. We may also ask you for information when you enter a contest or promotion sponsored by us, and when you report a problem with our Mobile Application.</p>

<p>Records and copies of your correspondence (including e-mail addresses), if you contact us.</p>

<p>Your responses to surveys that we might ask you to complete for research purposes, although you do not have to respond to them.</p>

<p>Details of transactions you carry out through our Mobile Application and of the fulfilment of your orders. You may be required to provide financial information before placing an order through our Mobile Application.</p>

<p><br />
<br />
</p>

<p><b>Usage Details, IP Addresses and Cookies, and Other Technologies</b></p>

<p><b>Usage Details and IP Addresses.</b> As you navigate through the Mobile Application, we may also collect details of your visits to our Mobile Application, including, but not limited to, traffic data, location data, logs and other communication data and the resources that you access, as well as information about your computer and internet connection, including your IP address, operating system and browser type, for system administration and to report aggregate information to our advertisers. This is statistical data about our users' equipment, browsing actions and patterns, and does not identify any individual.</p>

<p><b>Cookies.</b> For the same reason, we may obtain information about your general internet usage by using cookies. A cookie is a small file stored on the hard drive of your computer. Use of cookies help us to improve our Mobile Application and to deliver a better and more personalized service by enabling us to:</p>

<p>Estimate our audience size and usage patterns.</p>

<p>Store information about your preferences, allowing us to customize our Mobile Application according to your individual interests.</p>

<p>Speed up your searches.</p>

<p>Recognize you when you return to our Mobile Application. </p>

<p>You may refuse to accept cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of our Mobile Application. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you direct your browser to our Mobile Application. </p>

<p><b>Web Beacons.</b> Pages of the Mobile Application may contain electronic images known as web beacons (also referred to as single-pixel gifs) that permit the Company to count users who have visited those pages and for other related application statistics (for example, recording the popularity of certain application content and verifying system and server integrity). Web beacons are not used to access your personal information on the Mobile Application and are only used to compile aggregated statistics concerning use of the Mobile Application. </p>

<p><b>Third-Party Advertiser Use of Cookies and Other Tracking Technologies.</b> Some advertisements on the Mobile Application are served by third-party advertising companies. Please note that our advertisers may also use cookies alone or in conjunction with web beacons or other tracking technologies to collect information about our users. We do not have control over third-party advertisers' cookies or how they may be used. If you have any questions about an advertisement, you should contact the responsible advertiser directly.</p>

<p>We do not collect personally identifiable information automatically, but we may tie this information to your previously submitted personally identifiable information.</p>

<p><b>User Contributions</b></p>

<p>You are responsible for any content, including personal information, that you contribute to be published or displayed (hereinafter, “<b>posted</b>”) on the Mobile Application, or transmit to other users of the Mobile Application (collectively, “<b>User Contributions</b>”). Your User Contributions are posted on and transmitted to other users of the Mobile Application at your own risk. Although we limit access to certain pages/you may set certain privacy settings for such information by logging into your account profile, please be aware that no security measures are perfect or impenetrable. Additionally, we cannot control the actions of other users of the Mobile Application with whom you may choose to share your User Contributions. Therefore, we cannot and do not guarantee that your User Contributions will not be viewed by unauthorized persons. We are not responsible for circumvention of any privacy settings or security measures contained on the Mobile Application. You understand and acknowledge that, even after removal, copies of your User Contributions may remain viewable in cached and archived pages, or might have been copied or stored by other Mobile Application users. Proper access and use of information provided on the Mobile Application, including User Contributions, is governed by our terms of use (<a href="http://www.tapfit.co/terms">terms</a>) and known or suspected violations should be reported to support@tapfit.co.</p>

<p><b>Uses Made of the Information</b></p>

<p>We use information that we collect about you or that you provide to us, including any personal information, in the following ways:</p>

<p>To present our Mobile Application and its contents in a suitable and effective manner for you and for your computer. </p>

<p>To provide you with information, products or services that you request from us.</p>

<p>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us.</p>

<p>To notify you about changes to our service.</p>

<p>To allow you to participate in interactive features of our service, when you choose to do so.</p>

<p>We may also use your information, or permit selected third parties to use your information, to contact you about goods and services that may be of interest to you where you have consented to be contacted for such purposes. If you do not want us to use your information in this way, or to provide your information to third parties for marketing purposes, please check the relevant box located on the form on which we collect your data (the order form/). </p>

<p>We do not disclose your personally identifiable information to our advertisers, but we may provide them with aggregated information about our users (for example, we may report to them that 500 men aged under 30 clicked on their advertisement on a given day). We may also use such aggregated information to help advertisers reach the kind of audience they want to target. We may make use of the personal information we have collected from you to enable us to comply with our advertisers' wishes by displaying their advertisement to that target audience. Even though we only disclose aggregate information that is not personally-identifiable to advertisers without your consent, when you click on or otherwise interact with an advertisement there is a possibility that the advertiser may assume that you meet the target criteria they selected.</p>

<p><b>Disclosure of Your Information</b></p>

<p>We may disclose personal information that you provide via this Mobile Application to the following third parties:</p>

<p>Our subsidiaries and affiliates.</p>

<p>Contractors and service providers we use to support our business.</p>

<p>To a buyer in the event of a merger, divestiture, restructuring, reorganization, dissolution or any other form of sale of some or all of TAPFIT's assets, whether as a going concern or as part of bankruptcy, liquidation or similar proceeding, in which personal information held by TAPFIT about its customers is among the assets transferred.</p>

<p>We may also disclose your personal information to third parties to:</p>

<p>Comply with any court order or other legal obligation.</p>

<p>Enforce or apply our terms of use (<a href="http://www.tapfit.co/terms">terms</a>) and other agreements.</p>

<p>Protect the rights, property, or safety of TAPFIT, our customers, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</p>

<p><b>Choices About How We Use and Disclose Your Information</b></p>

<p>We strive to provide you with choices regarding the personal information you provide to us. We have created mechanisms to provide you with the following control over your information: </p>

<p><b>Cookies.</b> If you do not wish us to collect cookies, you may set your browser to refuse cookies, or to alert you when cookies are being sent. If you do so, please note that some parts of this application may then be inaccessible or not function properly. </p>

<p><b>Promotional Offers from Third Parties.</b> If you do not wish us to share your personal information with unaffiliated or non-agent third parties for promotional purposes, you can opt-out by checking the relevant box located on the form on which we collect your data (the order form). You can also always opt-out by logging into the Mobile Application and adjusting your user preferences in your account profile by checking or unchecking the relevant boxes or by sending us an e-mail stating your request to support@tapfit.co.</p>

<p><b>Promotional Offers from the Company.</b> If you do not wish to have your e-mail address used for promotional purposes by the Company, you can opt-out by checking the relevant box located on the form on which we collect your data (the order form). You can also always opt-out of receiving e-mail information from us other than the e-mail informing you of the completion of user registration, correction of user data, or change of password by logging into the Mobile Application and adjusting your user preferences in your account profile by checking or unchecking the relevant boxes or by sending us an e-mail stating your request to support@tapfit.co. If we have sent you a promotional e-mail, you may send us a return e-mail asking to be omitted from future e-mail distributions. This opt out does not apply to information provided to the Company as a result of a product purchase, warranty registration, product service experience or other transactions.</p>

<p>You should review this privacy policy carefully, because if you do not agree with our practices, your ultimate choice is not to use the Mobile Application. Remember, by using any part of the Mobile Application, you accept and agree to our privacy practices. If we update this privacy policy, your continued use of the Mobile Application (following the posting of the revised privacy policy) means that you accept and agree to the terms of the revised privacy policy.</p>

<p><b>Accessing and Correcting Your Personal Information</b></p>

<p>You can review and update your personal information by logging into the Mobile Application and visiting your account profile page and making changes. If you have forgotten your password, once you have tried to register and failed, you can click on the "Forgot your password?" link to reach a page on which you can submit your e-mail address. Your user name and password then will be e-mailed to you.</p>

<p>You may also send us an e-mail at [INSERT E-MAIL ADDRESS] to request access to, correct or delete any personal information that you have provided to us. We cannot delete your personal information except by also deleting your user account.</p>

<p><b>Your California Privacy Rights</b></p>

<p>California Civil Code Section § 1798.83 permits users of our Mobile Application that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an e-mail to support@tapfit.co or write us at: TapFit LLC, 1411 Vine St, Cincinnati, OH 45202.</p>

<p><b>Data Security</b></p>

<p>We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration and disclosure. All information you provide to us is stored on our secure servers behind firewalls. </p>

<p>The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of our Mobile Application, you are responsible for keeping this password confidential. We ask you not to share your password with anyone. We urge you to be careful about giving out information in public areas of the Mobile Application like message boards. The information you share in public areas may be viewed by any user of the Mobile Application.</p>

<p>Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to our Mobile Application. Any transmission of personal information is at your own risk.</p>

<p><b>Changes to Our Privacy Policy</b></p>

<p>It is our policy to post any changes we make to our privacy policy on this page. If we make material changes to this privacy policy, we will notify you through a notice on the Mobile Application home page. The date the privacy policy was last revised is identified at the top of the page.</p>

<p><b>Contact Information</b></p>

<p>To ask questions or comment about this privacy policy and our privacy practices, contact us at: </p>

<p> TapFit LLC, 1411 Vine St., Cincinnati, OH, 45202 - support@tapfit.co </p>
</div>
<p><br />
<br />
</p>


