<div class="promo-section" id="email">
    <h1>Want to win free fitness<br>
    for the rest of 2014?</h1>
</div>

<div class="promo-section" id="download"></div>

<div class="promo-section" id="share">
    <h1>Thanks, you're in!</h1>
    <h2>Double your chances of winning<br>
    by sharing with your friends</h2>
    <%= image_tag "fitness-girl.png", :class => "fitness-girl" %>
</div>
