<div id="sale_hero">
    <div class="wrapper">
        <%= image_tag "iphone_favorites.png", :class => "iphone" %>
        <h2>Give the Gift<br/>of
        <span style="color:#eb4840; text-shadow: 1px 1px #333;">Fitness</span><br/>
        This Holiday<br/>
        Season</h2>
        <div class="cta">
            <a href="#plans">
                Give TapFit
            </a>
        </div>
    </div>
</div>

<div class="plans"><a name="plans" class="anchor"></a>
<div class="wrapper">
<h3>Gift Options</h3>

<section id="pricePlans">
    <ul id="container">
        <li class="plan">
            <ul class="planContainer">
                <li class="price"><p>$56 <span style="text-decoration:line-through">$80</span></p></li>
                <div class="arrow-down"></div> 
                <li class="coins_total"><p>100</p><span>FitCoins</span></li>
                <li class="good_for">
                    <p>For someone who already has a gym membership, but loves trying out new classes every now and then.</p>
                </li>
                <li class="good_for">
                    <p>$0.80 / FitCoin</p>
                </li>
                <li class="button"><a href="#">Pre-Order</a></li>
            </ul>
        </li>

        <li class="plan">
            <ul class="planContainer">
                <li class="price"><p>$122 <span style="text-decoration:line-through">$175</span></p></li>
                <div class="arrow-down"></div> 
                <li class="coins_total"><p>250</p><span>FitCoins</span></li>
                <li class="good_for">
                    <p>For someone who wants flexibility and options, this plan will get you over 10 yoga classes.</p>
                </li>
                <li class="good_for">
                    <p>$0.70 / FitCoin</p>
                </li>
                <li class="button"><a href="#">Pre-Order</a></li>
            </ul>
        </li>

        <li class="plan">
            <ul class="planContainer">
                <li class="price"><p>$210 <span style="text-decoration:line-through">$300</span></p></li>
                <div class="arrow-down"></div> 
                <li class="coins_total"><p>500</p><span>FitCoins</span></li>
                <li class="good_for">
                    <p>For the fitness enthusiast who wants to work out at the best studios several times per week.</p>
                </li>
                <li class="good_for">
                    <p>$0.60 / FitCoin</p>
                </li>
                <li class="button"><a href="#">Pre-Order</a></li>
            </ul>
        </li>
    </ul> <!-- End ul#plans -->
</section>
</div>
</div>
