<p><br />
<br />
</p>

<p><b>Mobile Application Terms of Use</b></p>

<p>Last Modified: August 23, 2012</p>

<p><b>Acceptance of the Terms of Use</b></p>

<p>Welcome to the mobile application of TAPFIT, LLC ("<b>Company</b>", "<b>we</b>" or "<b>us</b>"). The following terms and conditions (together with any documents referred to in them) (collectively, these "<b>Terms of Use</b>") apply to your use of the TAPFIT mobile application, including any content, functionality and services offered on or through www.tapfit.co, any external widgets, and our corresponding API’s (the "<b>Mobile Application</b>"), whether as a guest or a registered user.</p>

<p>Please read the Terms of Use carefully before you start to use the Mobile Application or site. <b>By using the Mobile Application or by clicking to accept or agree to the Terms of Use when this option is made available to you, you accept and agree to be bound and abide by these Terms of Use and our Privacy Policy, found at <a href="http://www.tapfit.co/privacy">privacy policy</a>, incorporated here by reference.</b> If you do not want to agree to these Terms of Use or the Privacy Policy, you must exit the Mobile application. </p>

<p><b>Changes to the Terms of Use</b></p>

<p>We may revise and update these Terms of Use from time to time in our sole discretion. You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you. All material changes will apply prospectively only. Any changes to the dispute resolution procedures set forth below in Governing Law and Jurisdiction shall not apply to any disputes for which the parties had actual notice as of the date the change was posted on the Mobile Application. Your continued use of the Mobile Application following the posting of revised Terms of Use means that you accept and agree to the changes. </p>

<p><b>Accessing the Mobile Application and Account Security</b></p>

<p>By using this Mobile Application, you represent and warrant that you are of legal age to form a binding contract with the Company.</p>

<p>We reserve the right to withdraw or amend this Mobile Application, and any service or material we provide on the Mobile Application, in our sole discretion without notice. We will not be liable if for any reason all or any part of the Mobile Application is unavailable at any time or for any period. From time to time, we may restrict access to some parts of the Mobile Application, or the entire Mobile Application, to users, including registered users.</p>

<p>You are responsible for making all arrangements necessary for you to have access to the Mobile Application.</p>

<p>You are responsible for ensuring that all persons who access the Mobile Application through your internet connection are aware of these Terms of Use, and that they comply with them.</p>

<p>To access the Mobile Application or some of the resources it offers, you may be asked to provide certain registration details or other information. It is a condition of your use of the Mobile Application that all the information you provide on the Mobile Application is correct, current and complete.</p>

<p>If you choose, or you are provided with, a user name, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party. You agree to immediately notify Company of any unauthorized use of your user name or password or any other breach of security. You also agree to ensure that you exit from your account at the end of each session. You should use particular caution when accessing your account from a public or shared computer so that others are not able to view or record your password or other personal information.</p>

<p>We have the right to disable any user identification code or password, whether chosen by you or provided by us, at any time in our sole discretion for any or no reason, including, if in our opinion, you have failed to comply with any provision of these Terms of Use.</p>

<p><b>Intellectual Property Rights</b></p>

<p>The Mobile Application and its entire contents, features and functionality (including but not limited to all information, software, text, displays, images, video and audio, and the design, selection and arrangement thereof), are owned by the Company, its licensors or other providers of such material and are protected by United States and international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.</p>

<p>You are permitted to use the Mobile Application for your personal, non-commercial use only or legitimate business purposes related to your role as a current or prospective customer, supplier or distributor of the Company. You must not copy, modify, create derivative works of, publicly display, publicly perform, republish, download, store or transmit any of the material in the Mobile Application, except to:</p>

<p>Store copies of such materials temporarily in RAM.</p>

<p>Store files that are automatically cached by your Web browser for display enhancement purposes.</p>

<p>Print a reasonable number of pages of the Mobile Application for a permitted use.</p>

<p>You must not:</p>

<p>Modify copies of any materials from the Mobile Application.</p>

<p>Use any illustrations, photographs, video or audio sequences or any graphics separately from the accompanying text.</p>

<p>Delete or alter any copyright, trademark or other proprietary rights notices from copies of materials from the Mobile Application.</p>

<p>You must not reproduce, sell or exploit for any commercial purposes any part of the Mobile Application, access to the Mobile Application or use of the Mobile Application or any services or materials available through the Mobile Application. </p>

<p>If you wish to make any use of material on the Mobile Application other than that set out in this section, please address your request to: support@tapfit.co.</p>

<p>If you print, copy, modify, download or otherwise use any part of the Mobile Application in breach of the Terms of Use, your right to use the Mobile Application will cease immediately and you must, at our option, return or destroy any copies of the materials you have made. No right, title or interest in or to the Mobile Application or any content on the Mobile Application is transferred to you, and all rights not expressly granted are reserved by the Company. Any use of the Mobile Application not expressly permitted by these Terms of Use is a breach of these Terms of Use and may violate copyright, trademark and other laws.</p>

<p><b>Company Trademarks</b></p>

<p>The Company name, the Company logo and all related names, logos, product and service names, designs and slogans are trademarks of the Company or its affiliates or licensors. You must not use such marks without the prior written permission of the Company. All other names, brands and marks are used for identification purposes only and are the trademarks of their respective owners.</p>

<p><b>Prohibited Uses</b></p>

<p>You may use the Mobile Application only for lawful purposes and in accordance with these Terms of Use. You agree not to use the Mobile Application:</p>

<p>In any way that violates any applicable federal, state, local and international law or regulation (including, without limitation, any laws regarding the export of data or software to and from the US or other countries). </p>

<p>For the purpose of exploiting, harming or attempting to exploit or harm minors in any way by exposing them to inappropriate content, asking for personally identifiable information or otherwise.</p>

<p>To send, knowingly receive, upload, download, use or re-use any material which does not comply with the Content Standards set out in these Terms.</p>

<p>To transmit, or procure the sending of, any advertising or promotional material [without our prior written consent], including any "junk mail", "chain letter" or "spam" or any other similar solicitation.</p>

<p>To impersonate or attempt to impersonate the Company or a Company employee, another user, or person or entity (including, without limitation, the use of e-mail addresses or screen names associated with any of the foregoing).</p>

<p>To engage in any other conduct that restricts or inhibits anyone's use or enjoyment of the Mobile Application, or which, as determined by us, may harm the Company or users of the Mobile Application or expose them to liability.</p>

<p>Additionally, you agree not to:</p>

<p>Use the Mobile Application in any manner that could disable, overburden, damage, or impair the application or interfere with any other party's use of the Mobile Application, including their ability to engage in real time activities through the Mobile Application.</p>

<p>Use any robot, spider or other automatic device, process or means to access the Mobile Application for any purpose, including to monitor or copy any of the material on the Mobile Application.</p>

<p>Use any manual process to monitor or copy any of the material on the Mobile Application or for any other unauthorized purpose without our prior written consent.</p>

<p>Use any device, software or routine that interferes with the proper working of the Mobile Application.</p>

<p>Introduce any viruses, trojan horses, worms, logic bombs or other material which is malicious or technologically harmful.</p>

<p>Attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of the Mobile Application, the server on which the Mobile Application is stored, or any server, computer or database connected to the Mobile Application. </p>

<p>Attack the Mobile Application via a denial-of-service attack or a distributed denial-of-service attack.</p>

<p>Otherwise attempt to interfere with the proper working of the Mobile Application.</p>

<p><b>User Contributions</b></p>

<p>The Mobile Application may contain message boards, timelines, “chat rooms”, personal web pages or profiles, forums, bulletin boards, and other interactive features (collectively, "<b>Interactive Services</b>") that allow you to post, submit, publish, display or transmit to other users (hereinafter, "<b>post</b>") content or materials (collectively, "<b>User Contributions</b>") on or through the Mobile Application. </p>

<p>All User Contributions must comply with the Content Standards set out in these Terms.</p>

<p>Any User Contribution you post to the application will be considered non-confidential and non-proprietary, and we have the right to use, copy, distribute and disclose to third parties any such material for any purpose. </p>

<p>You represent and warrant that you own or control all rights in and to the User Contributions and have the right to grant the Company and its affiliates the license granted above.</p>

<p>You represent and warrant that all of your User Contributions do and will comply with these Terms of Use, and you agree to defend, indemnify and hold harmless the Company and its affiliates and licensors for any breach of that representation and warranty.</p>

<p>You understand and acknowledge that you are responsible for any User Contributions you submit or contribute, and you, not the Company, have fully responsibility for such content, including its legality, reliability, accuracy and appropriateness.</p>

<p>Any content and/or opinions uploaded, expressed or submitted to the Mobile Application, and all articles and responses to questions and other content, other than the content provided by the Company, are solely the opinions and the responsibility of the person or entity submitting them and do not necessarily reflect the opinion of the Company. We are not responsible, or liable to any third party, for the content or accuracy of any materials posted by you or any other user of the Mobile Application. </p>

<p><b>Monitoring and Enforcement; Termination</b></p>

<p>We have the right to:</p>

<p>Remove or refuse to post any User Contributions for any or no reason in our sole discretion.</p>

<p>Take any action with respect to any User Contribution that we deem necessary or appropriate in our sole discretion if we believe that such User Contribution violates the Terms of Use, including the Content Standards, infringes any intellectual property right or other right, threatens the personal safety of users of the Mobile Application and the public or could create liability for the Company.</p>

<p>Disclose your identity to any third party who claims that material posted by you violates their rights, including their intellectual property rights or their right to privacy.</p>

<p>Take appropriate legal action, including without limitation, referral to law enforcement, for any illegal or unauthorized use of the Mobile Application. </p>

<p>Terminate your access to all or part of the Mobile Application for any or no reason, including without limitation, any violation of these Terms of Use.</p>

<p>Without limiting the foregoing, we have the right to fully cooperate with any law enforcement authorities or court order requesting or directing us to disclose the identity of anyone posting any materials on or through the Mobile Application. YOU WAIVE AND HOLD HARMLESS THE COMPANY FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY THE COMPANY DURING OR AS A RESULT OF ITS INVESTIGATIONS AND FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY EITHER THE COMPANY OR LAW ENFORCEMENT AUTHORITIES.</p>

<p>However, we do not undertake to review all material before it is posted on the Mobile Application, and cannot ensure prompt removal of objectionable material after it has been posted. Accordingly, we assume no liability for any action or inaction regarding transmissions, communications or content provided by any user or third party. We have no liability or responsibility to anyone for performance or nonperformance of the activities described in this paragraph. </p>

<p><b>Content Standards</b></p>

<p>These content standards apply to any and all User Contributions and Interactive Services. User Contributions must in their entirety comply with all applicable federal, state, local and international laws and regulations. Without limiting the foregoing, User Contributions must not:</p>

<p>Contain any material which is defamatory, obscene, indecent, abusive, offensive, harassing, violent, hateful, inflammatory or otherwise objectionable.</p>

<p>Promote sexually explicit or pornographic material, violence, or discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.</p>

<p>Infringe any patent, trademark, trade secret, copyright or other intellectual property rights of any other person.</p>

<p>Violate the legal rights (including the rights of publicity and privacy) of others or contain any material that could give rise to any civil or criminal liability under applicable laws or regulations or that otherwise may be in conflict with these Terms of Use and our <a href="http://www.tapfit.co/privacy">privacy policy</a>.</p>

<p>Be likely to deceive any person.</p>

<p>Promote any illegal activity, or advocate, promote or assist any unlawful act.</p>

<p>Cause annoyance, inconvenience or needless anxiety or be likely to upset, embarrass, alarm or annoy any other person.</p>

<p>Be used to impersonate any person, or to misrepresent your identity or affiliation with any person or organization. </p>

<p>Involve commercial activities or sales, such as contests, sweepstakes and other sales promotions, barter or advertising.</p>

<p>Give the impression that they emanate from us or any other person or entity, if this is not the case.</p>

<p><b>Copyright Infringement</b></p>

<p>If you believe that any User Contributions violate your copyright, please contact us at: support@tapfit.co. It is the policy of the Company to terminate the user accounts of repeat infringers. </p>

<p><b>Reliance on Information Posted</b></p>

<p>The information presented on or through the Mobile Application is made available solely for general information purposes. We do not warrant the accuracy, completeness or usefulness of this information. Any reliance you place on such information is strictly at your own risk. We disclaim all liability and responsibility arising from any reliance placed on such materials by you or any other visitor to the Mobile Application, or by anyone who may be informed of any of its contents.</p>

<p><b>Changes to the Mobile Application</b></p>

<p>We may update the Mobile Application from time to time, but its content is not necessarily complete or up-to-date. Any of the material on the Mobile Application may be out of date at any given time, and we are under no obligation to update such material. We may change the Mobile Application at any time with or without notice. We may suspend access to the Mobile Application, or close it indefinitely. </p>

<p><b>Information About You and Your Visits to the Mobile Application</b></p>

<p>All information we collect on this Mobile Application is subject to our <a href="http://www.tapfit.co/privacy">privacy policy</a>. By using the Mobile Application, you consent to all actions taken by us with respect to your information in compliance with the Privacy Policy. You represent and warrant that all data provided by you is accurate. </p>

<p><b>Linking to the Mobile Application</b></p>

<p>You may link to our application, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. </p>

<p>The website or application from which you are linking must comply in all respects with the Content Standards set out in these Terms of Use.</p>

<p>You agree to cooperate with us in causing any unauthorized framing or linking immediately to cease. We reserve the right to withdraw linking permission without notice.</p>

<p><b>Links from the Mobile Application</b></p>

<p>If the Mobile Application contains links to other sites or applications and resources provided by third parties, these links are provided for your convenience only. This includes links contained in advertisements, including banner advertisements and sponsored links. We have no control over the contents of those sites, applications, or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them. If you decide to access any of the third party websites or applications linked to this Mobile Application, you do so entirely at your own risk and subject to the terms and conditions of use for such websites and applications.</p>

<p><b>Geographic Restrictions</b></p>

<p>The owner of the Mobile Application is based in the state of Ohio in the United States. We provide this Mobile Application for use only by persons located in the United States. We make no claims that the Mobile Application or any of its content is accessible or appropriate outside of the United States. Access to the Mobile Application may not be legal by certain persons or in certain countries. If you access the Mobile Application from outside the United States, you do so on your own initiative and are responsible for compliance with local laws.</p>

<p><b>Disclaimer of Warranties</b></p>

<p>You understand that we cannot and do not guarantee or warrant that files available for downloading from the internet or the Mobile Application will be free of viruses or other destructive code. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for anti-virus protection and accuracy of data input and output, and for maintaining a means external to our Mobile Application for any reconstruction of any lost data. WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE MOBILE APPLICATION OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE MOBILE APPLICATION OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED ON IT, OR ON ANY WEBSITE LINKED TO IT.</p>

<p>YOUR USE OF THE MOBILE APPLICATION, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE MOBILE APPLICATION IS AT YOUR OWN RISK. THE MOBILE APPLICATION, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE MOBILE APPLICATION ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER THE COMPANY NOR ANY PERSON ASSOCIATED WITH THE COMPANY MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY OR AVAILABILITY OF THE MOBILE APPLICATION. WITHOUT LIMITING THE FOREGOING, NEITHER THE COMPANY NOR ANYONE ASSOCIATED WITH THE COMPANY REPRESENTS OR WARRANTS THAT THE MOBILE APPLICATION, ITS CONTENT OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE MOBILE APPLICATION WILL BE ACCURATE, RELIABLE, ERROR-FREE OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT OUR MOBILE APPLICATION OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT THE MOBILE APPLICATION OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE MOBILE APPLICATION WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS.</p>

<p>THE COMPANY HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR PARTICULAR PURPOSE.</p>

<p>THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.</p>

<p>Release and Waiver of Liability</p>

<p><br />
</p>

<p>You hereby <b>EXPRESSLY ASSUME FULL RESPONSIBILITY FOR ANY RISK OF BODILY INJURY OR WRONGFUL DEATH TO YOU OR PROPERTY DAMAGE TO YOUR PROPERTY</b> sustained while using the facilities, services, equipment, or premises of TAPFIT, LLC and other individuals and entities providing fitness facilities (“<b>Affiliates</b>”) and that by this agreement you are relieving: (1) TAPFIT, LLC and its officers, directors, agents, employees, contractors, licensors, service providers, and suppliers; and (2) Affiliates of TAPFIT, LLC and their respective officers, directors, agents, employees, contractors, licensors, service providers, and suppliers (collectively, (1) and (2) above are referred to herein as the “Releasees”) of any and all liability for injury to yourself or your property, including injury leading to death, whether caused by the active or passive negligence (or otherwise) of Releasees to the fullest extent permitted by law. You affirm and acknowledge that you have full knowledge of the nature and extent of the risks inherent with the use of facilities, services, equipment, or premises of TAPFIT, LLC and its Affiliates. You understand that fitness activities involve a risk of injury and even death and that you are voluntarily participating in these activities and using equipment and machinery with knowledge of the dangers involved. </p>

<p><br />
</p>

<p>TAPFIT, LLC recommends that you consult your physician prior to beginning any exercise or weight loss program. You represent that you are in good physical condition and have no disability, illness, or other condition that could prevent you from exercising without injury or impairment of your health, and that you have consulted a physician concerning an exercise program that will not risk injury to you or impair your health. Such risks of injury include but are not limited to: injuries arising from your use or use by others of exercise equipment and machines; injuries arising from your participation or the participation of others in supervised or unsupervised activities or programs; injuries and medical disorders arising from exercising, such as heart attacks, strokes, heat stress, sprains, broken bones, and torn muscles and ligaments, among others; and accidental injuries occurring anywhere in dressing rooms, showers, or other facilities of TAPFIT, LLC and its Affiliates. </p>

<p><br />
</p>

<p>In consideration of your use of the facilities, services, equipment, or premises of TAPFIT, LLC and its Affiliates, you agree to release and on behalf of yourself, your heirs, representatives, executors, administrators, and assigns, <b>HEREBY DO RELEASE </b>Releasees from all liability for damages of any kind, any cause of action, claims, or demands of any nature whatsoever, arising out of or in connection with your use, or inability to use, the mobile application, any websites linked to it, any content on the mobile application or such other websites or any services or items obtained through the mobile application or such other websites, including any direct, indirect, special, incidental, consequential or punitive damages, including but not limited to personal injury, pain and suffering, emotional distress, loss of revenue, loss of profits, loss of business or anticipated savings, loss of use, loss of goodwill, loss of data, and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable, which you, your heirs, representatives, executors and assigns may now have, or have in the future against Releasees on account of personal injury, property damage, death or accident of any kind, arising out of or in any way related to your use of the facilities, services, equipment, or premises of TAPFIT, LLC and its Affiliates. The foregoing does not affect liability which cannot be excluded or limited under applicable law.</p>

<p><br />
</p>

<p><b>Indemnification</b></p>

<p>You agree to defend, indemnify and hold harmless Releasees from and against any causes of action, claims, demands, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys' fees) arising out of or in any way relating to facilities, services, equipment, or premises of TAPFIT, LLC and its Affiliates or resulting from your violation of these Terms of Use or your use of the Mobile Application, including, without limitation, any use of the Mobile Application's content, services and products other than as expressly authorized in these Terms of Use or your use of any information obtained from the Mobile Application.</p>

<p><br />
</p>

<p><b>Governing Law and Jurisdiction</b></p>

<p>These Terms of Use and any dispute or claim arising out of, or related to, them, their subject matter or their formation (in each case, including non-contractual disputes or claims) shall be governed by and construed in accordance with the internal laws of the State of Ohio without giving effect to any choice or conflict of law provision or rule (whether of the State of Ohio or any other jurisdiction).</p>

<p>Any legal suit, action or proceeding arising out of, or related to, these Terms of Use or the Mobile Application shall be instituted exclusively in the federal courts of the United States or the courts of the State of Ohio in each case located in the City of Cincinnati and County of Hamilton, although we retain the right to bring any suit, action or proceeding against you for breach of these Terms of Use in your country of residence or any other relevant country. You agree to waive any and all objections to the exercise of jurisdiction over you by such courts and to venue in such courts.</p>

<p><b>Limitation on Time to File Claims</b></p>

<p>ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING TO THESE TERMS OF USE OR THE WEBSITE MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES, OTHERWISE, SUCH CAUSE OF ACTION OR CLAIM IS PERMANENTLY BARRED. </p>

<p><b>Waiver and Severability</b></p>

<p>No waiver of these Terms of Use by the Company shall be deemed a further or continuing waiver of such term or condition or any other term or condition, and any failure of the Company to assert a right or provision under these Terms of Use shall not constitute a waiver of such right or provision.</p>

<p>If any provision of these Terms of Use is held by a court of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Use will continue in full force and effect. </p>

<p><b>Entire Agreement</b></p>

<p>The Terms of Use and our Privacy Policy constitute the sole and entire agreement between you and TAPFIT, LLC with respect to the Mobile Application and supersede all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral, with respect to the Mobile Application. </p>

<p><b>Your Comments and Concerns</b></p>

<p>This application is operated by TAPFIT, LLC at 1411 Vine St. Cincinnati, OH 45202.</p>

<p>All notices of copyright infringement claims should be directed to: support@tapfit.co.</p>

<p>All other feedback, comments, requests for technical support and other communications relating to the Mobile Application should be directed to: support@tapfit.co.</p>

<p>Thank you for visiting the Mobile Application.</p>

