/*

Mobile App Splash Page Template by MediaLoot
URL: http://medialoot.com/item/mobile-app-splash-page-template

Designer: Tony Thomas

*/

/*Main Styles*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;padding: 0;
}

.photo-1 {background: url(/assets/photo-bg-1.jpg) no-repeat center top;}
.photo-2 {background: url(/assets/photo-bg-2.jpg) no-repeat center top;}
.photo-3 {background: url(/assets/photo-bg-3.jpg) no-repeat center top #111111;}
.photo-4 {background: url(/assets/photo-bg-4.jpg) no-repeat center top;}

.banner {
	height: 740px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.clear {
	clear: both;
}

#privacy_container
{
    width: 320px;
    font-size: 12px;
}

#mc_embed_signup {
        background: none;
        width: 600px;
        clear: left;
        font: 15px Helvetica,Arial,sans-serif;
        position: absolute;
        margin: 380px 0 0 0;
}

#mc_embed_signup input.email {
        height: 36px;
        font-size: 20px;
        width: 500px !important;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
}

#mc_embed_signup .button {
        background-color: #3e4a5d !important;
        height: 44px !important;
}

.banner #banner-logo {
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: 50px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	text-transform: uppercase;
	letter-spacing: -1px;
	line-height: 1;
	margin: 60px 0 0 0;
	position: absolute;
	top: 0px; left: 0;
	padding-left: 10px;
        width: 247px;
        height: 76px;
        background: url(/assets/logo.png) no-repeat center top;
}

.banner h1 {
	width: 600px;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: 50px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	text-transform: uppercase;
	letter-spacing: -1px;
	line-height: 1;
	margin: 160px 0 0 0;
	position: absolute;
	top: 0px; left: 0;
	padding-left: 10px;
}

.banner h2 {
	width: 620px;
	font-family: 'Helvetica';
	text-transform: uppercase;
	font-size: 34px;
	color: black;
	color: rgba(0,0,0,.9);
	letter-spacing: 0px;
	line-height: 1;
	position: absolute;
	font-weight: 200;
	top: 350px; left: 0;
	text-shadow: 0 1px 1px rgba(255,255,255,0.25);
	padding-left: 10px;
}

a.download-btn {
	text-indent: -4999px;
	display: block;
	width: 224px;
	height: 74px;
	float: left;
	margin: 0 20px 0 0;
	position: absolute;
}

a.appstore {
	background: url(/assets/download-app-store.png) no-repeat;
	top: 380px; left: 10px;
}

a.android {
	background: url(/assets/download-android.png) no-repeat;
	top: 380px; left: 250px;
}

.iphone-5 {
	width: 268px;
	height: 586px;
	display: block;
	float: right;
	position: absolute;
	top: 20px; right: 50px;
	background: url(/assets/iphone-5.png);
}

.iphone-5 img {
	margin: 84px 0 0 23px;
        width: 220px;
}

.galaxy-s3 {
	width: 287px;
	height: 583px;
	display: block;
	float: right;
	position: absolute;
	top: 20px; right: 50px;
	background: url(/assets/galaxy-s3.png);
}

.galaxy-s3 img {
	margin: 52px 0 0 19px;
}

.page-content {
	background: #f5f5f5 url(/assets/background.png) repeat;
	min-height: 600px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #eee;
}

h3 {
	text-align: center;
	color: #3e444a;
	font-family: 'Helvetica';
	font-size: 62px;
	text-transform: uppercase;
	margin: 60px auto 0 auto;
	width: 960px;
	letter-spacing: -1px;
	text-shadow: 0 1px 0 #fff;
}

p {
	text-align: center; 
	color: #858585;
	font-size: 20px;
	font-weight: lighter;
	margin: 10px auto 0 auto;
	text-shadow: 0 1px 0 #fff;
}

.hr {
	width: 960px;
	height: 11px;
	background: url(/assets/hr.png) no-repeat;
	display: block;
	position: static;
	margin: 40px auto;
}

ul.steps {
	list-style: none;
	width: 920px;
	margin: 0 auto;
	
}

ul.steps li {
	float: left;
	display: inline-block;
	width: 280px;
	margin: 0 10px;
	
}

ul.steps li.step-1 {
	background: url(/assets/step-1.png) no-repeat center top;
}
ul.steps li.step-2 {
	background: url(/assets/step-2.png) no-repeat center top;
}
ul.steps li.step-3 {
	background: url(/assets/step-3.png) no-repeat center top;
}

.steps h4 {
	font-size: 22px;
	color: #353434;
	text-align: center;
	margin: 135px 0 15px 0;
}

.steps p {
	font-size: 14px;
	color: #a6adb6;
	margin: 0;
	letter-spacing: 0px;
}

.footer {
	width: 960px;
	margin: 0 auto;
}

.footer .logo {
	width: 120px;
	height: 45px;
	background: url(/assets/logo.png) no-repeat;
        background-size: 120px;
	text-indent: -4999px;
	float: left;
	margin: 30px 0 20px 10px;
}

.footer .tagline {
	float: left;
	margin: 40px 0 0 20px;
	color: #aaaaaa;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 1px;
}

.copyright {
	clear: both;
	border-top: 1px solid #333;
	padding: 20px 0 40px 10px;
	color: #aaaaaa;
	font-size: 12px;
	font-weight: lighter;
	letter-spacing: 1px;
}

/*Mobile Device Styles*/

@media only screen and (max-width:960px){
	.page-content{
		width: 960px;
		margin: 0 auto;
	}

}
@media only screen and (max-width:480px){
	
	.banner {
		width: 100%;
		height: inherit;
		position: static;
		padding-bottom: 20px;
	}
	.banner h1 {
		width: 90%;
		font-size: 50px;
		color: #fff;
		line-height: 1;
		text-shadow: none;
		margin: 40px 5% 0 5%;
		text-align: center;
		position: static;
		padding-left: 0;
	}
        
        #mc_embed_signup {
                background: none;
                width: 90%;
                font: 15px Helvetica,Arial,sans-serif;
                position: static;
                text-align: center;
                padding-left: 0;
                margin: 20px 5% 0 5%;
                line-height: 1;
        }

        #mc_embed_signup input.email {
                height: 36px;
                font-size: 14px;
                width: 100% !important;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
        }

        #mc_embed_signup .button {
                background-color: #3e4a5d !important;
                height: 44px !important;
                width: 100% !important;
        }

        .banner #banner-logo {
		width: 90%;
		font-size: 50px;
		color: #fff;
		line-height: 1;
		text-shadow: none;
		margin: 40px 5% 0 5%;
		text-align: center;
		position: static;
		padding-left: 0;
        }
	
	.banner h2 {
		width: 90%;
		font-size: 24px;
		line-height: 1;
		margin: 30px 5% 40px 5%;
		text-align: center;
		position: static;
		padding-left: 0;
	}
	
	a.download-btn {
		margin: 0px auto 20px auto;
		display: block;
		float: none;
		position: static;
	}
	
	.iphone-5 {
		position: static;
		width: 268px;
		float: none;
		margin: 50px auto 0 auto;
	}
	
	.galaxy-s3 {
		position: static;
		width: 287px;
		float: none;
		margin: 50px auto 0 auto;
	}
		
	.iphone-5 img {
		margin: 84px 0 0 23px;
	}
	
	.page-content {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #eee;
		width: inherit;
		display: block;
		height: inherit;
		padding: 0 auto;
	}
	
	h3 {
		text-align: center;
		color: #3e444a;
		font-family: 'Helvetica';
		font-size: 46px;
		text-transform: uppercase;
		margin: 50px auto 0 auto;
		letter-spacing: -1px;
		text-shadow: 0 1px 0 #fff;
		width: inherit;
	}
	
	p {
		text-align: center;
		color: #858585;
		font-size: 18px;
		font-weight: lighter;
		margin: 10px auto 0 auto;
		text-shadow: 0 1px 0 #fff;
		letter-spacing: 1px;
	}
	
	.hr {
		display: none;
	}
	
	ul.steps {
		list-style: none;
		width: 100%;
		margin: 60px 0 0 0;
		padding: 0;
		position: static;
		float: none;
	}
	
	ul.steps li {
		display: block;
		width: 80%;
		margin: 0 auto 50px auto;
		padding: 0;
		position: static;
		float: none;
	}
	
	ul.steps li.step-1 {
		background: url(/assets/step-1.png) no-repeat center top;
	}
	ul.steps li.step-2 {
		background: url(/assets/step-2.png) no-repeat center top;
	}
	ul.steps li.step-3 {
		background: url(/assets/step-3.png) no-repeat center top;
	}
	
	.steps h4 {
		font-size: 22px;
		color: #353434;
		text-align: center;
		margin: 50px 0 15px 0;
		padding-top: 140px;
	}
	
	.steps p {
		font-size: 15px;
		color: #a6adb6;
		margin: 0;
		letter-spacing: 0px;
	}
	
	.footer {
		width: 100%;
	}
	
	.footer .logo {
		float: none;
		margin: 30px auto 0px auto;
	}
	
	.footer .tagline {
		float: none;
		margin: 30px 0 0 0px;
		padding: 0 20px;
		text-align: center;
	}
	
	.copyright {
		text-align: center;
		float: none;
		margin-top: 20px;
		padding: 20px;
	}
}
