/*
 *
 * TapFit
 * Copyright 2013 TAPFIT, LLC
 * Written by Scott Lieberman
 *
 */


/*Main Styles*/

html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "effra", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.splash_container {
}

.splash_container p {
    line-height: 1.8em;
    color: #333333;
    font-family: "proxima-nova", sans-serif;
    font-weight: 100;
    font-size: 18px;
}

.centerizer {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

.icon_right {
    position: absolute;
    top: 70px;
    left: 800px;
}

.icon_left {
    position: absolute;
    top: 60px;
    left: 200px;
}

#tapfit_splash {
    position: relative;
    min-width: 1280px;
    margin: 0 auto;
    background: #FFFFFF;
}

#header {
    position: relative;
    height: 80px;
}

#header ul {
    list-style: none;
    margin-left: 140px;
}

#header ul li {
    float: left;
    margin-right: 70px;
    line-height: 50px;
    font-size: 18px;
    color: #777;
    cursor: pointer;
}

#header ul li a:hover {
    color: #EB4840;
}

#header ul li a {
    font-size: 16px;
    color: #777;
    text-decoration: none;
    cursor: pointer;
}

#top {
    position: relative;
    height: 550px;
}

.splash_phone {
    position: absolute;
    left: 200px;
    top: 0px;
}

.splash_logo {
    position: absolute;
    top: 0px;
}

#top_content {
    position: relative;
    left: 600px;
    top: 80px;
}

#top_content_tagline {
    position: absolute;
    top: 100px;
    width: 550px;
}

.tagline_text {
    position: absolute;
    top: 60px;
    left: 0;
}

#top_content_social_links {
    position: absolute;
    top: 340px;
}

#top_content_cta {
    position: absolute;
    top: 260px;
    width: 210px;
    height: 50px;
    background: url("download_button.png");
}

#top_content_cta:hover {
    cursor: pointer;
}

#benefits_link {
    height: 140px;
    background: #EB4840;
}

.link_to_benefits {
    position: relative;
    left: 600px;
    top: 50px;
    width: 500px;
    font-size: 30px;
    text-decoration: none;
    color: #FFFFFF;
}

.link_to_benefits:hover {
    color: #CCCCCC;
}

.benefits_ss {
    position: absolute;
    top: 100px;
    left: 840px;
}

#benefits {
    position: relative;
    height: 746px;
    background: url("splash_benefits.png") no-repeat top center;
    background-size: cover;
}

#benefits_content {
    position: absolute;
    top: 70px;
    left: 330px;
    width: 450px;
    margin: 0;
    padding: 0;
}

#benefits h1, #what h1, #who h1, #trainers h1, #wellness h1 {
    font-size: 50px;
    color: #111;
}

#benefits p {
    text-align: center;
    font-size: 32px;
    font-weight: 100;
    color: #EB4840;
}

#what {
    position: relative;
    height: 450px;
    border-top: 10px solid #CCCCCC;
}

#what_content {
    position: absolute;
    top: 40px;
    left: 240px;
    width: 520px;
}

#who {
    position: relative;
    height: 800px;
    border-top: 10px solid #DDDDDD;
    background: url("splash_who.png") no-repeat top #FFFFFF;
    background-size: contain;
}

#who_icon, #trainers_icon {
    top: 440px;
}

#who_content {
    position: absolute;
    top: 420px;
    left: 540px;
    width: 540px;
}

#wellness {
    position: relative;
    height: 980px;
    background: url("splash_wellness.jpg") no-repeat bottom #FFFFFF;
    background-size: contain;
}

#wellness_content {
    position: absolute;
    top: 30px;
    left: 540px;
    width: 520px;
}

#wellness_icon {
    top: 70px;
}

.back_to_top {
    position: absolute;
    top: 200px;
    right: 140px;
}

.next_button {
    position: absolute;
    top: 200px;
    right: 240px;
}

#trainers {
    position: relative;
    height: 850px;
    background: url("splash_trainers.png") no-repeat top #FFFFFF;
    background-size: contain;
}

#trainers_content {
    position: absolute;
    top: 420px;
    left: 240px;
    width: 520px;
}

#footer {
    position: relative;
    text-align: center;
    background: #000000;
    height: 320px;
}

#footer h2 {
    margin: 0;
    padding: 40px;
    color: #EB4840;
}

#footer img {
    margin: 0 auto;
}

@media only screen and (max-width:480px) {

    #tapfit_splash {
        width: 100%;
        min-width: 0;
    }

    .centerizer {
        width: 100%;
    }

    #header {
        display: none;
    }

    .icon_right {
        display: none;
    }

    .icon_left {
        display: none;
    }

    #top {
        position: relative;
        height: 500px;
        background: url("splash_benefits.png") no-repeat top center;
    }

    .splash_phone {
        display: none;
    }

    .splash_logo {
        position: absolute;
        top: 0;
        width: 50%;
        left: 25%;
    }

    #top_content {
        position: relative;
        left: 0px;
        top: 0px;
    }

    #top_content_tagline {
        position: relative;
        top: 100px;
        text-align: center;
        width: 100%;
    }

    .tagline_text {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
    }

    #top_content_cta {
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        background: url("download_button.png") no-repeat center;
    }

    #top_content_cta:hover {
        cursor: pointer;
    }

    #benefits_link {
        display: none;
    }

    .link_to_benefits {
        position: relative;
        left: 0px;
        top: 50px;
        width: 100%;
        font-size: 30px;
        text-decoration: none;
        color: #FFFFFF;
    }

    .link_to_benefits:hover {
        color: #CCCCCC;
    }

    .benefits_ss {
        display: none;
    }

    #benefits {
        position: relative;
        height: auto;
        background: none;
    }

    #benefits_content {
        background: #ffffff;
        position: relative;
        top: 70px;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .splash_container {
        text-align: center;
        padding: 20px;
    }

    .splash_container p {
        font-family: "proxima-nova", sans-serif;
        font-weight: 100;
        font-size: 20px;
        color: #333333;
    }

    #benefits h1, #what h1, #who h1, #trainers h1, #wellness h1 {
        font-size: 30px;
        color: #111;
    }

    #benefits p {
        text-align: center;
        margin-top: -30px;
        font-size: 22px;
        font-weight: 100;
        color: #EB4840;
    }

    #what {
        position: relative;
        height: auto;
        border-top: none;
    }

    #what_content {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
    }

    #who {
        position: relative;
        height: auto;
        border-top: none;
        background: none;
    }

    #who_content {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
    }

    #wellness {
        position: relative;
        height: auto;
        background: none;
    }

    #wellness_content {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
    }

    .back_to_top {
        display: none;
    }

    .next_button {
        display: none;
    }

    #trainers {
        position: relative;
        height: auto;
        background: none;
    }

    #trainers_content {
        position: relative;
        top: 0px;
        left: 0;
        width: 100%;
    }

    #footer {
        position: relative;
        text-align: center;
        background: #000000;
        height: 320px;
    }

    #footer h2 {
        margin: 0;
        padding: 40px 0;
        color: #EB4840;
    }

    #footer img {
        margin: 0 auto;
    }
}
