<!DOCTYPE html>

<html>
<head>
	
	<meta charset="utf-8" />
	
	<title>Mobile App Splash Page Template</title>
	<meta name="viewport" content="width=device-width" />
</head>
<body class="photo-3">
	<div class="banner">
                <div id="banner-logo">TapFit</div>
		<h1>Your workout should be tough. Finding one shouldn't.</h1>
                <!-- Begin MailChimp Signup Form -->
                <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                  <div id="mc_embed_signup">
                  <form action="http://tapfit.us7.list-manage.com/subscribe/post?u=b919071f943ccf9dda0f85af2&amp;id=63b9dd7f9c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <label for="mce-EMAIL"></label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                   </form>
                   </div>
                <!--End mc_embed_signup-->
		<div class="iphone-5"><%= image_tag "iphone-screenshot.png" %></div>
	</div>
	<div class="page-content">
		<h3>WE'RE LAUNCHING SOON</h3>
		<p>Stay tuned as we work hard to launch and help you take control of your fitness!</p>
		<div class="hr"></div>
		
		<ul class="steps">
			<li class="step-1">
				<h4>Shake up your routine</h4>
				<p>We've done the leg work so you can just work out.  Discover the best local options going on right now, near you!</p>
			</li>
			<li class="step-2">
				<h4>New city? No problem!</h4>
				<p>Pack a bag, some shoes and TapFit to help you break free from hotel gyms and into a healthier life on the road!</p>
			</li>
			<li class="step-3">
				<h4>At your service</h4>
				<p>TapFit acts as your personal fitness concierge, finding you the best workouts nearby. And we're always here to help.</p>
			</li><br class="clear" />
		</ul>
	</div>
	<div class="footer">
		<div class="logo">TapFit</div><div class="tagline">TapFit. Your Fitness Concierge</div>
		<div class="copyright">Copyright notice &copy; 2013 TAPFIT, LLC. All Rights Reserved.
	</div>
</body>
</html>
