<div class="mobile_container">
    <div class="mobile_header">
    </div>
    <p>Less work. More workouts.</p>
    <h1>tapfit</h1>
    <%= image_tag "splash_iphone.png", :class => "mobile_splash" %>
</div>
<div class="mobile_footer">
</div>
