<h1> TapFit Stats </h1>

<table border="1" width="400">
  <tr>
    <td><b> Total Purchases </b></td>
    <td><b> Week Total Purchases </b></td>
    <td><b>WoW Purchase Growth </b></td>
  </tr>
  <tr>
    <td> <%= @stats.total_purchases %> </td>
    <td> <%= @stats.wow_purchase_total %> </td>
    <td> <%= @stats.wow_purchase_total_percentage %> </td>
  </tr>
</table>

