<div style="text-align:center;">
  <table>
    <% @places.each do |place| %>

      <tr>

        <td> <%= place.name %> </td>
        <td> Schedule Url: <%= place.schedule_url %> </td>
        <td> <%= link_to 'Edit', edit_place_path(place) %> </td>
        <td> <%= link_to 'Show', place %> </td>

    <% end %>
  </table>
</div>

